* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    overflow-y: hidden;
}

body {
    background: #8566ff;
}

h1 {
    font-size: 2rem;
}

#game-container {
    margin: 100px auto;
}

#game-canvas {
    outline: none;
}